
@section Styles{
<style>
	#mainContainer {
		margin: 0 auto;
		text-align: center !important;
	}

	#404Span {
		font-size: 8rem !important;
	}

	#backToHomeBtn {
		position: inherit !important;
	}
</style>
}
<div class="container" id="mainContainer">
	<h1 id="404Span" style="font-size:8rem !important;">404</h1>
	<h4>Page Not Found</h4>
	<p>We can't find page you are looking for.</p>
	<button class="purpleBtn" id="backToHomeBtn">Back to Home</button>
</div>