
@section Styles{
<style>
	#mainContainer {
		margin: 0 auto;
		text-align: center !important;
	}

	#401Span {
		font-size: 8rem !important;
	}

	#backToHomeBtn {
		position: inherit !important;
	}
</style>
}
<div class="container" id="mainContainer">
	<h1 id="401Span" style="font-size:8rem !important;">401</h1>
	<h4>Unauthorized access</h4>
	<p>Access to this resource is denied</p>
	<button class="purpleBtn" id="backToHomeBtn">Back to Home</button>
</div>