
@section Styles{
<style>
	#mainContainer {
		margin: 0 auto;
		text-align: center !important;
	}

	#403Span {
		font-size: 8rem !important;
	}

	#backToHomeBtn {
		position: inherit !important;
	}
</style>
}
<div class="container" id="mainContainer">
	<h1 id="403Span" style="font-size:8rem !important;">403</h1>
	<h4>Forbidden </h4>
	<p>You'r account is blocked, for more information contact us.</p>
	<button class="purpleBtn" id="backToHomeBtn">Back to Home</button>
</div>