@model EduTube.GUI.ViewModels.ChatViewModel

@{
   ViewData["Title"] = "Create";
   Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
   <div class="container">
      <h4 class=" text-center">Create new chat</h4>
      <hr />
      <form asp-action="Create">
         <div asp-validation-summary="ModelOnly" class="text-danger"></div>
         <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
               <div class="form-group">
                  <label asp-for="Name" class="control-label"></label>
                  <input asp-for="Name" class="form-control">
                  <span asp-validation-for="Name" class="text-danger"></span>
               </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
               <div class="form-group">
                  <label class="control-label">Tags</label>
                  <input id="tagsInput" asp-for="Tags" type="text" class="form-control">
               </div>
            </div>
         </div>
         <div class="form-group">
            <a asp-action="Index" class="float-left">Back chat rooms</a>
            <button type="submit" class="purpleBtn float-right" style="position: inherit !important;">Create</button>
         </div>
      </form>
   </div>
</div>

@section Scripts {
   <script>
      $.ajax({
         url: '/Tags/GetAll',
         type: 'GET',
         dataType: 'json',
         async: false,
         success: function (data) {
            console.log(data);
            $('#tagsInput').tagsInput({
               'delimiter': [',', ';'],
               'autocomplete': {
                  source: data
               }
            });
         },
         error: function (response, jqXHR) {
         }
      });
   </script>
   @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
