.field-icon {
   color: black;
   float: right;
   margin-right: 1rem;
   margin-top: -25px;
   position: relative;
   z-index: 2;
}
#passwordMainDiv{
   margin: 0 auto;
   padding: 1rem;
}
#buttonsDiv{
   margin-top: 1rem;
}
#savePassword {
   position: inherit !important;
}
#savePassword, #cancelBtn{
   width: 40%;
}