#createVideoDiv {
   background-color: #242424;
   padding: 2rem;
}
#createBtn {
   float: right;
   position: inherit !important;
}
#createBtn, #backToProfileBtn {
   width: 40%;
}

#InvitationCodeDiv{
   display: none;
}
#thumbnail{
   max-height:15rem;
}

#backToProfileBtn {
   cursor: pointer;
   color: white;
   border: none;
   box-shadow: 0 10px 30px rgba(0,0,0,.2);
   background-color: transparent !important;
   padding: 0.25rem;
}
   #backToProfileBtn:hover {
      box-shadow: 0 10px 30px rgba(0,0,0,.5);
      background-color: transparent !important;
   }
/*Checkbox*/
.badgebox {
   opacity: 0;
}

   .badgebox + .badge {
      /* Move the check mark away when unchecked */
      text-indent: -999999px;
      /* Makes the badge's width stay the same checked and unchecked */
      width: 27px;
   }

   .badgebox:focus + .badge {
      /* Set something to make the badge looks focused */
      /* This really depends on the application, in my case it was: */
      /* Adding a light border */
      box-shadow: inset 0px 0px 5px;
      /* Taking the difference out of the padding */
   }

   .badgebox:checked + .badge {
      /* Move the check mark back when checked */
      text-indent: 0;
   }
#allowCommentsLabel {
   margin-bottom: 1rem;
   background-color: #e80a89 !important;
}
/*Checkbox
----------------------------------------*/