#dialogBody {
   height: 5rem !important;
}
#confirmDelete {
   float: right !important;
   position: inherit !important;
   width: 30% !important;
   float: right;
}
#cancelDelete {
   position: inherit !important;
   width: 30% !important;
}