#saveVideoBtn, #editVideoBtn {
   position: inherit;
   width: 30%;
   margin: 1rem;
}

body.modal-open div.modal-backdrop {
   z-index: 0;
}

.modal-dialog {
   min-height: calc(100vh - 60px);
   display: flex;
   flex-direction: column;
   justify-content: center;
   overflow-y: initial !important;
}

@media(max-width: 768px) {
   .modal-dialog {
      min-height: calc(100vh - 20px);
   }
}

.modal-content {
   background-color: #363636;
}

.modal-footer {
   display: inline;
}

.close {
   color: #dc3545;
}
.modal-body {
   height: 25rem;
   overflow-y: auto;
}