body {
    color: #ffffff;
}
/*#profileImageDiv{
    max-height: 15em;
    max-width: 18em;
}
#profileImage{
    border-radius: 50%;
    max-width: 100%;
    height: auto;
}*/
#subscribeBtn {
   position: initial;
   margin-top: 1rem;
   margin-right: 1rem;
}
#deleteProfileBtn {
   margin-top:1rem;
}
#profileImageDiv {
   position: relative;
   width: 10rem;
   height: 10rem;
   overflow: hidden;
   border-radius: 50%;
   margin-bottom: 2em;
   display: inline-block;
}

   #profileImageDiv img {
      width: 10rem;
      height: 10rem;
      /*width: 100%;
        height: auto;*/
   }
.subProfileImageDiv {
   position: relative;
   width: 6rem;
   height: 6rem;
   overflow: hidden;
   border-radius: 50%;
   margin: 1rem;
}

   .subProfileImageDiv img {
      width: 6rem;
      height: 6rem;
   }
#userTabDiv {
    padding: 1em 3em;
}
#userName{
    display:inline-block;
    margin-right:1em;
}

.display-inline-block {
    display: inline-block;
    margin-top: 1em;
}
.bottom-right {
    position: absolute;
    bottom: -10px;
    right: 5px;
}
#margin-top{
    margin-top:1em;
}
#videoDuration:hover{
    color:#fff;
}
#tab-link-videos, #tab-link-subscribers, #tab-link-subscribed-on {
    text-align:center;
    width: 60%;
    position: inherit;
}
#tab-link-videos {
    margin-right: 5em;
}
#tab-link-subscribers{
    margin-left:5em;
}
#tab-link-subscribed-on {
    margin-left: 5em;
}
#nav-tabs-ul {
    border-bottom: none;
}
.margin-top{
    margin-top: 1em;
}
#tab-content-subscribers div{
    margin-right:1em;
}

#tabs{
   display:flex;
   padding:1rem;
}
.tabsDiv {
   padding: 0.3rem;
   cursor: pointer;
}
   .tabsDiv button {
      background: transparent;
      border: none;
      outline: none;
      width: inherit;
      cursor: pointer;
   }
.tabsDivActiv {
   box-shadow: 0 10px 30px rgba(0,0,0,.2);
   background: linear-gradient(to right,#f05a28 0,#e80a89 100%);
   color: #fff;
}

.leftBorderRadius {
   border-bottom-left-radius: 5px;
   border-top-left-radius: 5px;
}

.rightBorderRadius {
   border-bottom-right-radius: 5px;
   border-top-right-radius: 5px;
}
#mainTabDiv {
   padding: 0rem 1rem;
}
#addVideoBtn{
   position:initial;
   margin-bottom: 1rem;
}
#addVideoDiv {
   padding: 1rem 3rem;
}
#userVideosDiv{
   padding: 1rem 1.3rem;
}
#subscribersDiv, #subscribedOnDiv {
   display: none;
}
.subsDiv {
   word-break: break-word;
   width: 8rem;
   margin-right: 1rem;
   vertical-align: top;
}
.videoDiv {
   max-width: 12rem;
}