#videoPlayer:focus {
   outline: none;
}

.resizeVideoEmojiCount, .resizeCommentEmojiCount {
   margin-top: 1rem;
}
.resizeVideoEmoji, .resizeVideoEmojiCount {
   -moz-transform: scale(1.5);
   -webkit-transform: scale(1.5);
   transform: scale(1.5);
}
.resizeCommentEmoji, .resizeCommentEmojiCount {
   -moz-transform: scale(1.2);
   -webkit-transform: scale(1.2);
   transform: scale(1.2);
}
button:focus {
   outline: 0;
}
.emojiBtn, .commentEmojiBtn {
   background-color: transparent;
   border: none;
   cursor: pointer;
   margin-top: 1em;
}
   .emojiBtn:focus, .commentEmojiBtn :focus {
      border: none;
   }
   .emojiBtn img, .commentEmojiBtn img {
      object-fit: cover;
      -moz-transition: all 0.3s;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      width: 2.5rem;
      margin-right: 1rem;
   }

   .emojiBtn:hover img, .emojiBtn:hover h6 {
      -moz-transform: scale(1.5);
      -webkit-transform: scale(1.5);
      transform: scale(1.5);
   }
   .emojiBtn:hover h6 {
      margin-top: 1rem;
   }
   .commentEmojiBtn:hover img {
      -moz-transform: scale(1.2);
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
   }
   .commentEmojiBtn:hover h6 {
      margin-top: 1rem;
   }
.breakLine {
   margin-top: 1rem;
   margin-bottom: 1rem;
   height: 0.1em;
   width: -webkit-fill-available;
   background-color: #242424;
}
@media (min-width: 768px) {
   .inheritDiv {
      display: inherit !important;
   }
   #btnSubscribeOwner, #emojisDiv {
      float: right;
   }
}

@media (max-width: 768px) {
   .inheritDiv {
      display: block !important;
   }
   #btnSubscribeOwner {
      float: left;
   }
}
#ownerInfo {
   display: inline-flex !important;
}
.commentImageDiv {
   width: 3.5rem;
   height: 3.5rem;
   margin-right: 2rem;
}
   .commentImageDiv img {
      width: 3.5rem;
      height: 3.5rem;
   }

#profileImageDiv {
   width: 4.5rem;
   height: 4.5rem;
}
   #profileImageDiv img {
      width: 4.5rem;
      height: 4.5rem;
   }

#profileImageDiv, .commentImageDiv {
   position: relative;
   overflow: hidden;
   border-radius: 50%;
}

#showMoreComments {
   width: 30%;
   font-size: 1.1rem;
   padding: 0.8rem !important;
}

/*showMore*/

.panel-wrapper {
   position: relative;
}

.btn {
   left: 30%;
   text-decoration: none;
   width: 30%;
}

.showBtn, .hideBtn {
   position: absolute;
   bottom: -4em;
   z-index: 100;
   text-align: center;
}

.hideBtn {
   display: none;
}

.panel {
   position: relative;
   margin: 2rem auto;
   max-height: 4.5rem;
   overflow: hidden;
   transition: max-height .5s ease;
}
#breakAfterOwner{
   margin-top: 2rem;
}
/*resize input*/
textarea {
   width: inherit !important;
   resize: none;
   font-size: 18px;
   overflow-x: hidden;
   overflow-y: auto;
   min-height: 2em;
   height: 2em;
   padding: 2px;
   max-height: 8em;
   left: 0px;
   margin-bottom: 1rem;
}
#cancelComment{
   margin-right:1rem;
}
#cancelComment, #saveComment{
   width:7rem;
}
.commentsOptionsDiv {
   background-color: #363636;
   box-shadow: 0 10px 30px rgba(0,0,0,.2);
   color: white;
   margin-right: 1rem;
   width: 40%;
   padding: 0.3rem;
   text-align: center;
   margin-top: 0.5rem;
   margin-bottom: 1rem;
}
.margin-top {
   margin-top: 1rem;
}
.commentBorder {
   border-left: solid;
   border-bottom: solid;
   border-width: 1px;
   border-color: #e80a89;
}
#invatationCodeBtn {
   margin-top: 1rem;
   width: inherit;
   position: inherit !important;
}