/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
   white-space: normal;
   text-align: center;
   word-break: break-all;
}

#mainBodyDiv {
   padding: 3em 2em;
}

.blackBackground {
   background-color: #121212;
}
/* Sticky footer styles
-------------------------------------------------- */
/*dropdown*/



/*dropdown
-------------------------------------------------*/
.breakLineWhite {
   height: 0.1em;
   width: -webkit-fill-available;
   background-color: white;
}

.padding1 {
   padding: 1rem;
}

html {
   font-size: 14px;
}

@media (min-width: 768px) {
   html {
      font-size: 16px;
   }
}

.border-top {
   border-top: 1px solid #e5e5e5;
}

.border-bottom {
   border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
   box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
   font-size: 1rem;
   line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */

/*notification*/
.button-badge {
   background-color: transparent;
   text-decoration: none;
   padding: 1rem 1.5rem;
   position: relative;
   display: inline-block;
   border-radius: .2rem;
   transition: all ease 0.4s;
}

   .button-badge:hover {
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
   }

.badge {
   position: absolute;
   top: -10px;
   right: -10px;
   font-size: 1rem;
}

.fa {
   color: white;
}

.notification {
   display: inline-block;
   position: relative;
   padding: 0.6em;
   border-radius: 0.2em;
   font-size: 1rem;
}

   .notification::before,
   .notification::after {
      color: #fff;
      text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
   }

   .notification::before {
      display: block;
      content: "\f0f3";
      font-family: "FontAwesome";
      transform-origin: top center;
   }

   .notification::after {
      font-family: Arial;
      font-size: 0.7em;
      font-weight: 700;
      position: absolute;
      top: -15px;
      right: -15px;
      padding: 5px 8px;
      line-height: 100%;
      border: 2px #fff solid;
      border-radius: 60px;
      background: #3498db;
      opacity: 0;
      content: attr(data-count);
      opacity: 0;
      transform: scale(0.5);
      transition: transform, opacity;
      transition-duration: 0.3s;
      transition-timing-function: ease-out;
   }

   .notification.notify::before {
      animation: ring 1.5s ease;
   }

   .notification.show-count::after {
      transform: scale(1);
      opacity: 1;
   }

@keyframes ring {
   0% {
      transform: rotate(35deg);
   }

   12.5% {
      transform: rotate(-30deg);
   }

   25% {
      transform: rotate(25deg);
   }

   37.5% {
      transform: rotate(-20deg);
   }

   50% {
      transform: rotate(15deg);
   }

   62.5% {
      transform: rotate(-10deg);
   }

   75% {
      transform: rotate(5deg);
   }

   100% {
      transform: rotate(0deg);
   }
}
/*notification
----------------------------------------------------------------*/

.videoThumbnailsDiv {
   position: relative;
   text-align: center;
}

.videoThumbnails {
   height: 7rem;
   max-width: 12rem;
   /*max-height: 10rem;*/
}

html {
   position: relative;
   min-height: 100%;
}

body {
   /* Margin bottom by footer height */
   margin-bottom: 60px;
   background-color: #121212 !important;
   color: #ffffff;
}

.footer {
   position: absolute;
   bottom: 0;
   width: 100%;
   white-space: nowrap;
   /* Set the fixed height of the footer here */
   height: 60px;
   line-height: 60px; /* Vertically center the text there */
}

/*navbar*/
.navbar {
   background-color: #272727;
}

   .navbar a {
      color: #ffffff;
   }
/*search input*/

input[type=search] {
   background: #ccc;
   border: solid 1px #ccc;
   padding: 9px 10px 9px 32px;
   width: 55px;
}

   input[type=search]:focus {
      width: 600px;
      background-color: white;
      border-color: #333;
      border: solid 1px #fff;
   }

a {
   color: #ffffff;
   text-decoration: none;
}

   a:hover {
      color: #e80a89;
      text-decoration: none;
   }

h2 {
   color: white;
}

.colorWhite {
   color: white;
}

.purpleColorTxt {
   color: #e80a89;
}

.greyBackground {
   background-color: #242424;
}

.whiteColor {
   color: #ffffff !important;
}

.boldBlack {
   color: black;
}

.marginAuto {
   margin: auto;
}

.unSeenNotification {
   background-color: #303030;
}

.purpleBtn {
   background-color: #e80a89;
   border: none;
   border-radius: 5px;
   color: #fff;
   position: absolute;
   cursor: pointer;
   display: inline-block;
   padding: 0.5rem;
}

   .purpleBtn:hover {
      box-shadow: 0 10px 30px rgba(0,0,0,.2);
      background: linear-gradient(to right,#f05a28 0,#e80a89 100%);
      color: #fff;
   }

.footer {
   border-top: none !important;
   background-color: #242424;
}

.breakWord {
   word-wrap: break-word;
}

#profileImageNavbarDiv {
   position: relative;
   width: 3.5rem;
   height: 3.5rem;
   overflow: hidden;
   border-radius: 50%;
   margin-left: 1rem;
}

   #profileImageNavbarDiv img {
      width: 3.5rem;
      height: 3.5rem;
   }

.noPadding {
   padding: 0 !important;
}

.inline-flex {
   display: inline-flex;
}

.margin-left-2rem {
   margin-left: 2rem;
}

.position-initial {
   position: initial !important;
}

.widthInherit {
   width: inherit;
}

.orangeBtn {
   background-color: #d14e02;
   border: none;
   border-radius: 5px;
   color: #fff;
   cursor: pointer;
   display: inline-block;
   padding: 0.5rem;
}

   .orangeBtn:hover {
      box-shadow: 0 10px 30px rgba(0,0,0,.2);
      background: linear-gradient(to right,#db9d0b 0,#d14e02 100%);
      color: #fff;
   }

.grayBtn {
   background-color: #363636;
   border: none;
   border-radius: 5px;
   color: #fff;
   cursor: pointer;
   display: inline-block;
   padding: 0.5rem;
}

   .grayBtn:hover {
      box-shadow: 0 10px 30px rgba(0,0,0,.2);
      background: linear-gradient(to right,#8a8a8a 0,#363636 100%);
      color: #fff;
   }

.dotMenu:after {
   content: '\2807';
   font-size: 2rem;
   cursor: pointer;
}

.dotBtn {
   background-color: transparent;
   border: none;
   color: #363636;
   float: right;
}

.hoverGray:hover {
   background-color: #8a8a8a;
   cursor: pointer;
}

.transparentBtn {
   background-color: transparent;
   border: none;
   color: white;
   cursor: pointer;
   width: -webkit-fill-available;
}

.fillAvailable {
   width: -webkit-fill-available;
}

.moveLeft {
   margin-left: -1rem;
}

.redBtn {
   background-color: #b31217;
   border: none;
   border-radius: 5px;
   color: #fff;
   position: absolute;
   cursor: pointer;
   display: inline-block;
   padding: 0.5rem;
}

   .redBtn:hover {
      box-shadow: 0 10px 30px rgba(0,0,0,.2);
      background: linear-gradient(to right,#e52d27 0,#b31217 100%);
      color: #fff;
   }

.greenBtn {
   background-color: #04b533;
   border: none;
   border-radius: 5px;
   color: #fff;
   position: absolute;
   cursor: pointer;
   display: inline-block;
   padding: 0.5rem;
}

   .greenBtn:hover {
      box-shadow: 0 10px 30px rgba(0,0,0,.2);
      background: linear-gradient(to right,#00d498 0,#04b533 100%);
      color: #fff;
   }

.displayNone {
   display: none;
}

/*loading spinner*/

.loader {
   color: #ffffff;
   font-size: 90px;
   text-indent: -9999em;
   overflow: hidden;
   width: 1em;
   height: 1em;
   border-radius: 50%;
   margin: 72px auto;
   position: relative;
   -webkit-transform: translateZ(0);
   -ms-transform: translateZ(0);
   transform: translateZ(0);
   -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
   animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}

@-webkit-keyframes load6 {
   0% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
   }

   5%, 95% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
   }

   10%, 59% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
   }

   20% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
   }

   38% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
   }

   100% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
   }
}

@keyframes load6 {
   0% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
   }

   5%, 95% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
   }

   10%, 59% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
   }

   20% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
   }

   38% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
   }

   100% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
   }
}

@-webkit-keyframes round {
   0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
   }

   100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
   }
}

@keyframes round {
   0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
   }

   100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
   }
}
/*Notifications*/
.notificationsContent {
   max-height: 4.5rem;
   overflow: hidden;
}

#newNotificationsDiv {
   display: none;
   padding: 1rem;
   position: absolute;
   margin-top: 2rem;
   margin-left: -2rem;
   width: 10rem;
   background-color: #303030;
   border-radius: 15px;
}

#notificationsDiv {
   padding: 1rem 2rem;
   width: 25rem;
   overflow: auto;
   max-height: 25rem;
   margin-top: 1rem;
}

.navbarNotificationContent {
   max-height: 4.5rem;
   overflow: hidden;
}
/*notifications
-------------------------------------------------*/
/*Input modern*/

.modernInput:focus {
   border-bottom: 1px solid #e80a89 !important;
   box-shadow: 0 1px 0 0 #e80a89 !important;
}

.md-form textarea.md-textarea.valid {
   border-bottom: 1px solid #e80a89 !important;
   box-shadow: 0 1px 0 0 #e80a89 !important;
}

.modernLabel {
   font-size: 20px;
   color: #f05a28 !important;
   font-weight: 600;
   margin-top: -1rem;
}

.md-textarea {
   overflow: auto !important;
}
/*Input modern
-------------------------------------------------*/