/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}
#mainBodyDiv{
    padding:3em 2em;
    
}
/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: #121212 !important;
    color: #ffffff;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

/*navbar*/
.navbar {
    background-color: #272727;
}
    .navbar a {
        color: #ffffff;
    }
/*search input*/

input[type=search] {
    background: #ccc;
    border: solid 1px #ccc;
    padding: 9px 10px 9px 32px;
    width: 55px;
}

    input[type=search]:focus {
        width: 600px;
        background-color: white;
        border-color: #333;
        border: solid 1px #fff;
    }

a {
    color: #ffffff;
    text-decoration: none;
}
    a:hover {
        color: #e80a89;
        text-decoration: none;
    }
h2{
    color:white;
}

.purpleColorTxt {
    color: #e80a89;
}
.greyBackground {
    background-color: #242424;
}
.whiteColor {
   color: #ffffff !important;
}
.boldBlack{
   color:black;
}
.purpleBtn {
   background-color: #e80a89;
   border: none;
   border-radius: 5px;
   color: #fff;
   position: absolute;
   cursor: pointer;
   display: inline-block;
}

   .purpleBtn:hover {
      box-shadow: 0 10px 30px rgba(0,0,0,.2);
      background: linear-gradient(to right,#f05a28 0,#e80a89 100%);
      color: #fff;
   }

.footer {
   border-top: none !important;
   background-color: #242424;
}