<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
  <!--
  <system.webServer>
    <handlers>
      <remove name="aspNetCore"/>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
  </system.webServer>
  -->
  <system.web>
    <!-- This will handle requests up to 3584MB (3.5GB) -->
    <httpRuntime maxRequestLength="3670016" executionTimeout="360000" />
  </system.web>
  
  <!-- IIS Specific Targeting (noted by the system.webServer section) -->
  <system.webServer>
    <security>
      <requestFiltering>
        <!-- This will handle requests up to 3584MB (3.5GB) -->
        <requestLimits maxAllowedContentLength="3758096384" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
