@model IEnumerable<EduTube.BLL.Models.VideoModel>
@{
   ViewData["Title"] = "Home Page";
}

@section Styles{ }


<h4>Popular videos</h4>
<div class="row">
   @foreach (var video in Model)
   {
      <div class="col-lg-2">
         <a href="/Videos/@video.Id">
            @if (video.FileName != null)
            {
               <img src="~/thumbnails/@video.Thumbnail" class="videoThumbnails" />
            }
            @if (video.FileName == null)
            {
               <img src="@video.Thumbnail" class="videoThumbnails" />
            }
            <h6 class="text-white">@video.Name</h6>
         </a>
         <a href="/Users/@video.UserChannelName.Replace(" ", "-")">
            <h6 class="text-white">@video.UserChannelName</h6>
         </a>
         <h6>@video.DateCreatedOn</h6>
      </div>
   }
</div>

<h4 style="margin-top: 2rem;" id="firstRecommendedHeading"></h4>
<div class="row" id="firstRecommendedVideosRow">
</div>
<h4 style="margin-top: 2rem;" id="secondRecommendedHeading"></h4>
<div class="row" id="secondRecommendedVideosRow">
</div>

@section Scripts{
   <script src="~/js/HomePage.js"></script>
}