@model EduTube.GUI.ViewModels.ChangePasswordViewModel

@{
   ViewData["Title"] = "Change ";
   Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
   <link href="~/css/ChangePassword.css" rel="stylesheet" />
}
<div class="row">
   <div class="col-lg-6 col-md-6 col-sm-10 greyBackground" id="passwordMainDiv">
      <h4 class=" text-center">Change password</h4>
      <hr />
      <form asp-action="Create">
         <div asp-validation-summary="ModelOnly" class="text-danger"></div>
         <input asp-for="UserId" type="hidden" />
         <div class="row">
            <div class="col-12">
               <label asp-for="OldPassword" class="col-form-label whiteColor"></label>
               <input asp-for="OldPassword" type="password" class="form-control" placeholder="Password" id="oldPassword" />
               <span toggle="#oldPassword" class="fa fa-fw fa-eye field-icon toggle-password"></span>
               <span asp-validation-for="OldPassword" style="color:red;" id="passwordError"></span>
            </div>
            <div class="col-12">
               <label asp-for="NewPassword" class="col-form-label whiteColor"></label>
               <input asp-for="NewPassword" type="password" class="form-control" placeholder="Password" id="password" />
               <span toggle="#password" class="fa fa-fw fa-eye field-icon toggle-password"></span>
               <span asp-validation-for="NewPassword" style="color:red;" id="passwordError"></span>
            </div>
            <div class="col-12">
               <label asp-for="ConfirmPassword" class="col-form-label whiteColor"></label>
               <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Confirm password" id="ConfirmPassword" />
               <span toggle="#ConfirmPassword" class="fa fa-fw fa-eye field-icon toggle-password"></span>
               <span asp-validation-for="ConfirmPassword" style="color:red;" id="passwordError"></span>
            </div>
         </div>
         <div class="form-group" id="buttonsDiv">
            <button class="blackBtn" onclick="history.back();" id="cancelBtn">Cancel </button>
            <button type="submit" class="purpleBtn float-right" id="savePassword">Save</button>
         </div>
      </form>
   </div>
</div>

@section Scripts{
   @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
   <script>
      $(function () {
      $(".toggle-password").click(function () {

      $(this).toggleClass("fa-eye fa-eye-slash");
      var input = $($(this).attr("toggle"));
      if (input.attr("type") === "password") {
         input.attr("type", "text");
      } else {
         input.attr("type", "password");
      }
   });
   })
   </script>
}