@model EduTube.GUI.ViewModels.LoginViewModel
@{
   ViewData["Title"] = "Login";
}
<link href="~/css/Login.css" rel="stylesheet" />
<div class="" id="loginDiv">
   <h5 class="whiteColor">CREATE YOUR PROFILE FOR <strong>FREE</strong> </h5>
</div>