@model EduTube.GUI.ViewModels.VideoCreateViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Video</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YoutubeUrl" class="control-label"></label>
                <input asp-for="YoutubeUrl" class="form-control" />
                <span asp-validation-for="YoutubeUrl" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="AllowComments" /> @Html.DisplayNameFor(model => model.AllowComments)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="IvniteCode" class="control-label"></label>
                <input asp-for="IvniteCode" class="form-control" />
                <span asp-validation-for="IvniteCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VideoVisibility" class="control-label"></label>
                <select asp-for="VideoVisibility" class="form-control">
                    <option value="1">Public</option>
                    <option value="2">Private</option>
                    <option value="3">Invite</option>
                </select>   
                <span asp-validation-for="VideoVisibility" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select multiple data-role="tagsinput" asp-for="Hashtags">
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Video</label>
                <input class="form-control" asp-for="Video" type="file"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
