@{ 
   ViewData["Title"] = "Invitation code";
}

@section Styles
{
   <link href="~/css/InvitationCode.css" rel="stylesheet" />
}

<div class="greyBackground" id="invitationDiv">
   <input type="hidden" id="videoId" value="@ViewBag.VideoId" />
   <h5 class="text-center">You need invatation code to see this video</h5>
   <input class="form-control" placeholder="Invatation code" id="invatationCode" />
   <span style="color:red;" id="invitationCodeError"></span>
   <button class="purpleBtn" id="invatationCodeBtn" onclick="CheckInvitationCode()">Submit</button>
</div>
@section Scripts
{
   <script src="~/js/InvitationCode.js"></script>
}